.container-home{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: var(--blueClear);
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "goal goal caln"
        "prgs prgs caln"
    ;
    gap: 20px;
    padding: 1rem;
}
.cont{
    background-color: var(--white);
    border-radius: 20px;
    height: 100%;
}
.container-today-goals      {grid-area: goal;}
.container-small-calendar   {grid-area: caln;}
.container-goals-progress   {grid-area: prgs;}