.page-log-in{
    width: 100%;
    height: 100%;
    display: grid;
    font-size: 1.1rem;
    grid-template-columns: 1fr 1fr;
}
.page-log-in button,
.page-log-in a{
    cursor: pointer;
}
.page-log-in button:active,
.page-log-in a:active{
    transform: scale(0.95);
}
.form-log-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}  
.form-log-in div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.form-log-in h1{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 1.5rem;
}
.form-log-in label{
    margin-bottom: 1rem;
}
.form-log-in input{
    width: 60%;
    padding: 0.7rem 1rem;
    border-radius: 20px;
    border: none;
    background-color: var(--blueClear);
}
.button-login-home,
.demo button,
.demo a{
    padding: 1.3rem 3rem;
    font-size: 1.1rem;
    border-radius: 20px;
    border: none;
    background-color: var(--blue);
    color: var(--white);
}
.demo{
    background-color: var(--blue);
    padding: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
}
.demo h1{
    color: var(--white);
}
.demo button,
.demo a{
    background-color: var(--white);
    color: var(--blue);
}
.demo a{
    text-decoration: none;
}
