.container-my-goals{
    width: 100%;
    height: 100%;
    max-height: 600px;
    border-radius: 20px;
    background-color: var(--blueClear);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "righ righ"
        "left left"
    ;
    gap: 20px;
    padding: 1rem;
}
.container-goals-left,
.container-goals-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border-radius: 20px;
    overflow: auto;
}
.container-goals-left{
    padding: 2rem;
}
.container-goals-right{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}
.container-goals-left   {grid-area: righ;}
.container-goals-right  {grid-area: left;}
.header-goals-left{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 1rem;
}
.header-goals-left h2{
    font-size: 2rem;
}

.banner-goal-link{
    width: 100%;
    text-decoration: none;
}
@media (min-width: 760px) {
/*     .container-my-goals{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "righ left"
            "righ left"
        ;
    } */
}
@media (min-width: 950px) {
    .container-my-goals{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "righ left"
            "righ left"
        ;
    }
}