.page-sign-up{
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-sign-up{
    background-color: var(--blue);
    border-radius: 20px;
    width: 70%;
    height: 80%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}
.container-sign-up button,
.container-sign-up a{
    cursor: pointer;
    color: var(--white);
}
.container-sign-up button:active{
    transform: scale(0.95);
}
.form-sign-up{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
}  
.form-sign-up div{
    display: flex;
    flex-direction: column;
}
.form-sign-up h1{
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: var(--white);
}
.form-sign-up label{
    margin-bottom: 1rem;
    color: var(--white);
}
.form-sign-up input{
    padding: 0.7rem 1rem;
    border-radius: 20px;
    border: none;
    background-color: var(--white);
}
.container-sign-up button{
    width: 80%;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    font-size: 1.1rem;
    border-radius: 20px;
    border: none;
    background-color: var(--black);
    color: var(--white);
}
.other-sign-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.other-sign-up .button-google{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--white);
    border: 2px solid var(--black);
    color: var(--black);
}
.text-check{
    color: var(--black);
    font-size: 0.8rem;
    margin-top: 1rem;
}