.container-goal-progress-inner{
    width: 100%;
    height: 100%;
    padding: 1rem;
}
.header-goal-progress-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.header-goal-progress-inner h2{
    margin: 0;
}